<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input 
      type="text" 
      class="form-control" 

      #serverNameInput>
      <label>Server Content</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent">; -->
      <input type="text" class="form-control" #serverContentInput>;
      <h1> {{ 43.232 | date}}</h1>
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer(serverNameInput)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBluePrint(serverNameInput)">Add Server Blueprint</button>
    </div>